/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

/*.NavContainer {*/
/*  width: 100vw;*/
/*  height: 100px;*/
/*  background: black;*/
/*  display: flex;*/

/*  align-items: center;*/
/*  justify-content: space-evenly;*/
/*}*/
/*.NavContainer a {*/
/*  color: white;*/
/*  text-decoration: none;*/
/*}*/
@import "~antd/dist/antd.css";

.site-layout-content {
  min-height: 750px;
  padding: 0 50px;
  background: #fff;
  max-width: 100%;
}
.site-layout-footer {
  text-align: center;
}

.ads-list-layout {
  height: 85vh;
}
.ads-list-card-style {
  width: 100%;
}
.register-form-data-error {
  color: red;
}
.header-avatar {
  backgroundcolor: "#87d068";
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.ant-btn {
  margin-right: 8px;
}

.ant-card {
  margin-bottom: 30px;
}

.chat-icon {
  fontsize: 64px;
  color: #08c;
  padding-bottom: 15px;
}

.chat-modal-dialog {
  position: absolute;
  top: 60%;
  left: 80%;

  transform: translate(-50%, -50%) !important;
}
